<table class="table table-hover table-inverse">
    <!--検索対象モデルがUserの時 -->
    <% if @model == "User" %>
        <h3>Users search for "<%= @word %>" </h3>
        <%= render 'users/index', users: @users %>
<!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <% elsif @model == "Book" %>
        <h3>Books search for "<%= params[:word] %>" </h3>
        <%= render 'books/index', books: @books %>
    <% end %>